body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 10vh;
    border: 2px solid black;
    border-radius: 10px;
    height: fit-content;
    padding: 10vh;
}
.input{
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}
input{
    padding: 2vh;
    border : 1px solid black;
    border-radius: 1vh 0 0 1vh;
    width: 25vw;
}
input:focus{
    outline: none;
    box-shadow: none;
    border-color: initial;
  }
.button{
    margin-left: 1vh;
    padding: 1.8vh;
    border : 1px solid black;
    border-radius: 0 1vh 1vh 0;
}
.task{
    padding: 2vh;
    border : 1px solid black;
    border-radius: 1vh;
    width: 93%;
    margin-bottom: 2vh;
}