body{
    display: flex;
}
.child{
    height: 250px;
    width: 250px;
    border: 1px solid black;
}
.child1{
    background-color: red;
}
.child2{
    background-color: blue;
}
.child3{
    background-color: green;
}
.child4{
    background-color: aqua;
}
@media (max-width: 600px) {
    .child1{
        height: 0;
    }
    .child2{
        height: 500px;
    }
    .child3{
        height: 0;
    }
    .child4{
        height: 500px;
    }
}